@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    font-family: "Montserrat", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #d0c3d8;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #879eb2;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-item {
    flex: 1;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;
    color: #000;
}

.navbar-item a {
    text-decoration: none;
    color: inherit;
}

.navbar.logo {
    flex: 0.5;
    text-align: left;
}

.logo img {
    width: 40px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.navbar-item.hero {
    background-color: rgba(215, 236, 255, 0.8118);
    color: #000000;
}

.navbar-item.about {
    background-color: #d0c3d8;
    color: #000000;
}

.navbar-item.prizes {
    background-color: #f5f4de;
    color: #000000;
}

.navbar-item.faq {
    background-color: #edffea;
    color: #000000;
}

.navbar-item.login {
    background-color: #879eb2;
    color: white;
}

/* Hero */
#hero {
    background-color: rgba(215, 236, 255, 0.8118);
    z-index: 0;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-header .logo {
    max-height: 50px;
}

.hero-header #logo-1 {
    width: 60px;
    height: auto;
}

.hero-header #logo-2 {
    width: 40px;
    height: auto;
}

.hero-header p {
    font-weight: bold;
}

.hero-header .divider {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.hero-content {
    position: relative;
    display: inline-block;
    text-align: center;
}

.hero-content::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border: 1px solid black;
    background: linear-gradient(
        to bottom,
        #fffcc8 0%,
        #e9fdc8 2%,
        #e9d7ff 48%,
        #ffcccd 81%,
        #d7ecff 100%
    );
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}

.hero-content .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4.2rem;
    font-weight: 900;
    color: #ffaf7d;
    text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
        -2px -2px 0 black;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-content .title span {
    font-size: 4.5rem;
    color: white;
}

.hero-content .description {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20px;
}

.hero-content .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-content .period {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 45px;
    background-color: white;
    display: inline-block;
    padding: 5px;
    padding-inline: 50px;
}

.hero-content .register-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9248;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 45px;
    transition: background-color 0.3s;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.hero-content .register-button:hover {
    background-color: #d97b3f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Hero Decorations */
.hero-decorations {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hero-decorations .decoration {
    position: absolute;
}

.hero-decorations .star {
    top: 3%;
    left: 18%;
    width: 200px;
}

.hero-decorations .smile {
    top: 13%;
    right: 15%;
    width: 200px;
}

.hero-decorations .lefttag {
    top: -10%;
    left: 0%;
    width: 500px;
    z-index: -2;
}

.hero-decorations .righttag {
    top: 0%;
    right: 0%;
    width: 500px;
    z-index: -2;
}

.hero-decorations .sparkle2 {
    top: 55%;
    left: 20%;
    width: 300px;
}

.hero-decorations .heart {
    bottom: 5%;
    right: 25%;
    width: 200px;
}

/* About */
#about {
    background-color: #d0c3d8;
    padding-inline: 30px;
    padding-block: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-outer-box {
    border: 1.5px black solid;
    border-radius: 10px;
    padding: 30px;
    background-color: #f9f9f9;
    margin: 20px;
}

.about-inner-box {
    border: 1px black dashed;
    border-radius: 10px;
    background-color: #ffffff;
    width: 1000px;
    height: 350px;
    padding-bottom: 20px;
}

.about-header {
    border: 1.5px black solid;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: left;
    width: 100%;
    position: relative;
    padding: 20px;
    background: linear-gradient(
        to left,
        #fffcc8 0%,
        #d4ffc8 19%,
        #d7ecff 50%,
        #e9d7ff 83%,
        #ffcccd 100%
    );
}

.about-header h1 {
    font-size: 38px;
    font-weight: 1000;
    margin: 0;
}

.about-header-mini-boxes {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    gap: 1rem;
}

.about-header-mini-box {
    border: 1.5px black solid;
    border-radius: 10px;
    padding: 4px;
    width: 40px;
    height: 40px;
}

#mini-box-1 {
    background-color: rgba(255, 206, 72, 0.8118);
}

#mini-box-2 {
    background-color: #f2b894;
}

#mini-box-3 {
    background-color: rgba(52, 187, 61, 0.34);
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 100px);
    padding: 40px;
    text-align: center;
    gap: 2rem;
}

.about-content p {
    font-size: 23px;
    margin-top: 30px;
}

.guidebook-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 27;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 45px;
    background-color: #e9d7ffcf;
    transition: background-color 0.3s;
    padding-inline: 40px;
    padding-block: 12px;
    box-shadow: 2px 2 px 5px rgba(0, 0, 0, 0.8);
}

.guidebook-btn:hover {
    background-color: #ccb4eacf;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* About decoration */
.about-decorations {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.about-decorations .decoration {
    position: absolute;
}

.about-decorations .lighting {
    bottom: -12%;
    right: 5%;
    width: 300px;
}

/* Champion Prize */
#champion-prizes {
    min-height: 100vh;
    padding: 50px 30px;
    /* background-color: #f8f5f2; */
    background-color: #f5f4de;
    text-align: center;
}

.prizes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.prizes-title {
    position: absolute;
    top: 210%;
}

.prizes-title h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    background: linear-gradient(
        to left,
        #fffcc8 0%,
        #d4ffc8 19%,
        #d7ecff 50%,
        #e9d7ff 83%,
        #ffcccd 100%
    );
    display: inline-block;
    padding: 10px 65px 5px 35px;
    border: 1.5px solid black;
    transform: rotate(-4deg);
}

.total-title {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.total-title .total-prize {
    font-size: 35px;
    color: black;
    font-weight: bolder;
}

.total-title .total-prize strong {
    font-size: 40px;
    color: white;
    text-shadow: 1.5px 1.5px 0 black, -1.5px 1.5px 0 black, 1.5px -1.5px 0 black,
        -1.5px -1.5px 0 black, 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.prizes-decorations {
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.prizes-decorations .decoration {
    position: absolute;
}

.prizes-decorations .sparkle1 {
    top: -7%;
    left: 33%;
    width: 250px;
}

.prizes-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding-top: 40px;
}

.prize-card {
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black, 3px 5px 1px rgba(0, 0, 0, 0.8);
    padding: 100px 20px 20px 20px;
    width: 250px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.trophy-decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.trophy-decorations .decoration {
    position: absolute;
    z-index: 5;
}

.trophy-decorations .trophy1 {
    top: -17%;
    left: 38.5%;
    width: 280px;
}

.trophy-decorations .trophy2 {
    top: -10%;
    left: 14%;
    width: 280px;
}

.trophy-decorations .trophy3 {
    top: -10%;
    right: 14%;
    width: 280px;
}

.prize-info {
    background: linear-gradient(
        to top,
        rgba(255, 204, 205, 1) 0%,
        rgba(233, 215, 255, 1) 50%,
        rgba(215, 236, 255, 0.81) 100%
    );
    padding: 15px;
    border-radius: 10px;
}

.prize-detail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
    padding-bottom: 10px;
}

.prize-detail img {
    width: 30px;
    height: auto;
}

.prize-detail p {
    font-weight: bolder;
}

.prize-card.first-place {
    transform: scale(1.1);
    z-index: 3;
}

.prize-card.second-place {
    transform: rotate(-10deg) translateY(20px);
    z-index: 1;
}

.prize-card.third-place {
    transform: rotate(10deg) translateY(20px);
    z-index: 1;
}

/* Why Should Join Us */
#why-join {
    background-color: #ffe7e7;
    padding: 70px 30px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-header {
    position: relative;
    right: 15%;
    background: linear-gradient(
        to left,
        #fffcc8 0%,
        #d4ffc8 19%,
        #d7ecff 50%,
        #e9d7ff 83%,
        #ffcccd 100%
    );
    display: inline-block;
    border: 1.5px solid black;
    padding: 15px 70px;
    margin-bottom: 10px;
}

.why-header h1 {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.why-card {
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    width: 70%;
    margin: auto;
    box-shadow: 4px 4px 0px black;
    text-align: center;
}

.why-card h2 {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.why-card img {
    width: 40px;
    height: auto;
}

.why-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    margin-top: 10px;
    text-align: center;
}

/* FAQ */
#faq {
    height: 100vh;
    background-color: #edffea;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.faq-header {
    background: linear-gradient(
        to left,
        #fffcc8,
        #d4ffc8,
        #d7ecff,
        #e9d7ff,
        #ffcccd
    );
    width: 90vw;
    padding: 10px;
    border: 1.5px solid black;
    margin-bottom: 70px;
    text-align: center;
}

.faq-header h1 {
    font-size: 45px;
}

.faq-container {
    width: 70%;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-item {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.faq-question {
    width: 100%;
    background-color: white;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease-in-out;
}

.arrow img {
    width: 25px;
    height: auto;
}

.faq-answer {
    display: none;
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: #cae3fd;
    padding: 20px 40px;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-hidden {
    display: none;
}

.faq-hidden .faq-item {
    margin-top: 15px;
}

.faq-hidden .faq-item:first-child {
    margin-top: 0px;
}

.faq-more {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin-top: 20px;
}

/* Scroll Bar */
.faq-container::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.faq-container::-webkit-scrollbar-thumb {
    background: rgba(109, 169, 228, 0.6);
    border-radius: 10px;
}

.faq-container::-webkit-scrollbar-thumb:hover {
    background: rgba(109, 169, 228, 0.8);
}

/* FAQ Decorations */
.faq-decorations {
    position: absolute;
    top: 400vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.faq-decorations .decoration {
    position: absolute;
}

.faq-decorations .questionmark {
    top: 0%;
    right: 20%;
    width: 280px;
}

.faq-decorations .sparkle1 {
    top: 13%;
    left: 3%;
    width: 280px;
}

.faq-decorations .smileysparkle {
    bottom: -25%;
    left: 2%;
    width: 200px;
}

/* Media Partner */
#media-partner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: #fff2de;
    padding: 100px 0;
}

.media-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
}

.ribbon {
    position: absolute;
    width: 80%;
    max-width: 600px;
    z-index: 0;
}

.media-title {
    position: relative;
    z-index: 1;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
}

.media-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo-track {
    display: flex;
    gap: 30px;
    white-space: nowrap;
}

.logos {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.logo-box {
    width: 220px;
    height: 120px;
    background: white;
    border: 2px dashed gray;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.logo-header {
    width: 100%;
    height: 24px;
    background: linear-gradient(
        to right,
        #ffcccd,
        #e9d7ff,
        #d7ecff,
        #d4ffc8,
        #fffcc8
    );
    border-bottom: 2px solid gray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    margin: 0;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.browser-buttons {
    display: flex;
    gap: 5px;
}

.browser-buttons div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.yellow {
    background: #ffce48cf;
    border: 1.5px solid grey;
}
.red {
    background: #f2b894;
    border: 1.5px solid grey;
}
.green {
    background: #edffea;
    border: 1.5px solid grey;
}

.logo-img img {
    width: 80px;
    height: auto;
    object-fit: contain;
}

/* Animation*/
.track-1 {
    animation: scroll-right 15s linear infinite;
}

.track-2 {
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-left {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* Contact Us */
#contact-us {
    min-height: 100vh;
    background-color: #d0c3d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-header h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 0 black, -2.5px 2.5px 0 black, 2.5px -2.5px 0 black,
        -2.5px -2.5px 0 black;
}

.contact-title {
    margin-bottom: 30px;
}

.contact-container {
    width: 60%;
    height: 350px;
    padding: 20px;
    background: linear-gradient(to right, #f9c5d1, #c8d6f3);
    border-radius: 15px;
    box-shadow: 10px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-group img {
    width: 25px;
    height: auto;
}

form {
    width: 100%;
    display: flex;
    gap: 50px;
}

.form-left,
.form-right {
    width: 48%;
}

.input-group {
    margin-bottom: 40px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f9f6ce;
    box-shadow: 5px 5px black;
}

textarea {
    height: 120px;
    resize: none;
}

.submit-btn {
    background-color: #a39d4e;
    color: white;
    padding: 10px 55px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #8c7a4a;
}

/* Pop Up */
.popup {
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 20px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.popup-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-icon {
    width: 30px;
    height: 30px;
}

/* Test Show Pop Up */
/* .popup {
    display: block !important;
    opacity: 1 !important;
} */

/* Contact Us Decorations */
.contactus-decorations {
    position: absolute;
    top: 600vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.contactus-decorations .decoration {
    position: absolute;
}

.contactus-decorations .tag {
    top: 2%;
    left: 16%;
    width: 300px;
}

.contactus-decorations .sparkle {
    top: 5%;
    right: 21%;
    width: 250px;
}

/* Footer */
footer {
    background-color: #223448;
    color: white;
    padding: 20px 50px;
    text-align: center;
    position: relative;
    border-radius: 100px 100px 0 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    min-width: 250px;
}

.footer-left img {
    margin-left: 30px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    min-width: 250px;
    gap: 20px;
}

.footer-left p,
.footer-right p {
    font-size: 15px;
    font-weight: 550;
}

.bncc-logo {
    max-width: 150px;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: right;
    gap: 12px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    font-size: 13px;
    margin-top: 20px;
    color: white;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}
